<div class="outer">
  <h3>ලියාපදිංචි වීම</h3>
  <hr>
  <div class="mb-3">
    <label for="name" class="form-label">ළමයාගේ නම</label>
    <input type="text" class="form-control" id="name" >
  </div>
  <div class="mb-3">
    <label for="school" class="form-label">ළමයාගේ පාසල</label>
    <input type="text" class="form-control" id="school" >
  </div>
  <div class="mb-3">
    <label for="phone" class="form-label">මවගේ හෝ පියාගේ දුරකථන අංකය</label>
    <input type="email" class="form-control" id="phone" >
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">මුරපදය</label>
    <input type="password" class="form-control" id="password">
  </div>
  <div class="mb-3">
    <input type="submit" class="btn btn-primary" value="ලියාපදිංචි වන්න" style="width: 100%">
  </div>


</div>



