<!--=======Navigations-->
<header class="top-header">
  <div class="top-left-slide" id="top-left-id">
<!--    <img src="./assets/images/logo.png" alt="logo">-->
    <h1 class="business-logo">ගණිත උයන</h1>
  </div>
  <div class="top-right-slide" id="top-right-id">
    <ul class="navigation-outer">
      <li>
        <a routerLink="/navigation/home" routerLinkActive="active">නිවස</a>
      </li>
      <li>
        <a routerLink="/navigation/games" routerLinkActive="active">ක්‍රීඩා</a>
      </li>
      <li>
        <a routerLink="/navigation/lessons" routerLinkActive="active">පාඩම්</a>
      </li>
      <li>
        <a routerLink="/navigation/contact" routerLinkActive="active">සම්බන්ධ කර ගැනීම</a>
      </li>
    </ul>
  </div>
</header>
<!--=======Navigations-->
<router-outlet></router-outlet>


