<div class="body">
  <div class="video-container">
    <video class="background-video" #backgroundVideo class="background-video" autoplay loop muted  preload="auto">
      <source src="./assets/videos/GrassyBackground.mp4" type="video/mp4">
      Your browser does not support HTML5 video.
    </video>
    <div class="overlay"></div>
    <div class="content">
      <h1>ගණන් හදමු</h1>
      <p>ඔබට අවශ්‍ය ප්‍රමාණය තෝරන්න</p>
      <div class="board-container">

        <a routerLink="/dashboard/game-dashboard/game3/g3-content/g3-easy/e-choose" class="board-link">
          <img src="./assets/images/Boards/g3-L.png" alt="Click Me" class="board-image">
        </a>

        <a routerLink="/dashboard/game-dashboard/game3/g3-content/g3-medium/m-choose" class="board-link">
          <img src="./assets/images/Boards/g3-M.png" alt="Click Me" class="board-image">
        </a>

        <a routerLink="/dashboard/game-dashboard/game3/g3-content/g3-hard/h-choose" class="board-link">
          <img src="./assets/images/Boards/g3-H.png" alt="Click Me" class="board-image">
        </a>
      </div>
    </div>
    <a routerLink="/dashboard/game-dashboard/game3/lesson3" class="gif-link">
      <img src="./assets/images/lesson3.png" alt="Click Me" class="gif-image">
    </a>

    <a routerLink="/dashboard/game-dashboard/game3/quiz3" class="quiz-link">
      <img src="./assets/images/Quiz.gif" alt="Click Me" class="quiz-image">
    </a>
    <button id="volume-control" class="volume-button" (click)="toggleVolume()">
      <i id="volume-icon" class="fas fa-volume-up"></i>
    </button>
  </div>
</div>

<router-outlet></router-outlet>
